@model _20T1020433.Web.Areas.Admin.Models.ProductSearchInput
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<!-- Shop Product Start -->
<div class="align-content-lg-center">
    <div class="row pb-3">
        <div class="col-12 pb-1">
            <div class="align-items-center justify-content-between mb-4" style="background-color: #e8e4e4; padding: 5px; ">
                <form id="formSearch" action="~/Shop/Search">
                    <div class="row">
                        <div class="input-group col-sm-4">
                            <input type="hidden" name="PageSize" value="@Model.PageSize" />
                            <input autofocus type="text" class="form-control" name="searchValue" placeholder="Search by name" value="@Model.SearchValue">
                            <div class="input-group-append">
                                <button type="submit" class="text-primary" style="">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="dropdown col-sm-2">
                            @Html.DropDownListFor(m => m.CategoryID, SelectListHelper.Categories(), new
                            {
                                @class = "form-control"@*, @onchange = "this.form.submit();"*@})
                        </div>
                        <div class="dropdown col-sm-3">
                            @Html.DropDownListFor(m => m.SupplierID, SelectListHelper.Suppliers(), new
                       {
                           @class = "form-control", /*@onchange = "this.form.submit();"*/})
                        </div>
                        <div class="dropdown col-ml-2">
                            <select class="form-control"
                                    data-val="true"
                                    id="SortByPrice"
                                    name="SortByPrice">
                                <option value="0">-- Giá --</option>
                                <option value="1">Giá: Thấp đến cao</option>
                                <option value="2">Giá: Cao đến thấp</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="searchResult"></div>
    </div>
</div>
<!-- Shop Product End -->


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(1);
                return;
            });
            doSearch(@Model.Page);
        })
        function doSearch(page) {
            var url = $("#formSearch").prop("action");
            var postData = $("#formSearch").serializeArray();
            postData.push({ "name": "page", "value": page });

            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });

            return;
        }
    </script>
}
