@model _20T1020433.Web.Areas.Admin.Models.ProductSearchOutput
@using _20T1020433.BusinessLayers;
@{
    Layout = null;
}
<div class="row pb-3">
    @foreach (var item in Model.Data)
    {
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1" style="width:314px">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 text-center" style="height: 260px; display: flex; justify-content: center; align-items: center;">
                    <img class="img-fluid w-75 product-image" data-product-id="@item.ProductID" src="~/Photo/Product/@item.Photo" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">@item.ProductName</h6>
                    <div class="d-flex" style="margin-left: 50px; margin-right: 50px">
                        <h6>$@string.Format("{0:0.00}", item.Price)</h6>
                        <h6 style="margin-left: auto;">@ShopService.CountProductSold(item.ProductID) sold</h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-center border">
                    <a href="~/Shop/Detail/@item.ProductID" data-product-id="@item.ProductID" class="btn btn-sm text-dark btn-block product-link" style="background-color: #e8e4e4;"><i class="fas fa-shopping-cart text-primary mr-1"></i>Buy Now</a>
                </div>
            </div>
        </div>
    }
    <div class="col-12 pb-1">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mb-3">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    if (i == Model.Page)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="#">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="javascript:;" onclick="doSearch(@i)">@i</a>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".product-image").click(function () {
            var productID = $(this).data("product-id");
            $(".product-link").each(function () {
                if ($(this).data("product-id") == productID) {
                    window.location.href = $(this).attr("href");
                    return false; // Ngăn chặn việc lặp lại cho các thẻ a khác
                }
            });
        });
    });
</script>

