@model _20T1020433.DomainModels.Product
@{
    ViewBag.Title = "Bổ sung mặt hàng";
}

<div class="box box-primary">
    <div class="box-header with-border ">
    </div>

    <div class="box-body">
        <form class="form-horizontal" action="~/Admin/Product/Save" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.ProductID)
            <div class="form-group">
                <label class="control-label col-sm-2">Tên mặt hàng:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ProductName,
                        new { @class = "form-control", @placeholder = "", @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.ProductName, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Loại hàng:</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.CategoryID, SelectListHelper.Categories(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CategoryID, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Nhà cung cấp:</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.SupplierID, SelectListHelper.Suppliers(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SupplierID, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Đơn vị tính:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Unit,
                        new { @class = "form-control", @placeholder = "", @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.Unit, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Giá hàng:</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="Price"
                           name="unPrice"
                           value="@string.Format("{0:N}", @Model.Price)">
                    @Html.ValidationMessageFor(m => m.Price, "", new { @style = "color:#f00" })
                    @Html.HiddenFor(m => m.Price)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh minh họa:</label>
                <div class="col-sm-10">
                    @*@Html.HiddenFor(m => m.Photo)*@
                    <input type="hidden" id="Photo" name="Photo" value="@Model.Photo" />
                    <label for="Photo-Uploader" style="cursor: pointer" title="Click để thay đổi ảnh">
                        <img id="image" src="~/Photo/Product/@Model.Photo" class="img-thumbnail" style="width: 125px; height: 140px;" alt="">
                    </label>
                    <input accept="image/*" type="file"
                           id="Photo-Uploader"
                           name="uploadPhoto"
                           value="@Model.Photo"
                           onchange="document.getElementById('image').src = window.URL.createObjectURL(this.files[0])">
                    @Html.ValidationMessageFor(m => m.Photo, "", new { @style = "color:#f00" })                    
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                    <a class="btn btn-warning" href="~/admin/product">
                        <i class="fa fa-ban"></i> Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="box-footer text-center">
    </div>

</div>


